# LINE Messaging API
LINE_CHANNEL_ACCESS_TOKEN=bKDLDT+wvbABR3SGlmaFrKzUtFTtokwQrT8fIzCfKMR9d5q723kr68MUK6QUlHm1jd5sSHJmCBVTnfYvX/Z7j2gphSK1I1wWisHR0hY/FcZH/LZanDasNzIICMbrUioHBmgyg5YZ9gTXzT492iUGsQdB04t89/1O/w1cDnyilFU=
LINE_CHANNEL_SECRET=your_channel_secret_here

# Database (Supabase PostgreSQL connection string)
DATABASE_URL=postgresql://postgres:[password]@db.[project-ref].supabase.co:5432/postgres

# App
PORT=3000
NODE_ENV=development
APP_BASE_URL=https://your-railway-app.up.railway.app
